/.pc/
*.pas
*.lfm
/json/
/lang/
/setup/
/synapse/
/units/
/COPYING.FPC
/COPYING.txt
/LICENSE.txt
/Makefile
/Makefile.fpc
/VERSION.txt
/history.txt
/lineinfo2.pp
/readme.txt
/rpc-spec.txt
/transgui.ico
/transgui.lpi
/transgui.lpr
/transgui.png
/transgui.res
/trcomp.lpk
